body {
  background: white;
  color: #6b7280; /* cinza */
  font-family: monospace;
  padding: 40px;
}

/* container do texto */
#container {
  max-width: 800px;
  margin: auto;
  line-height: 1.8;
  font-size: 22px;
}

/* letras padrão */
.letra {
  color: #6b7280;
}

/* letra correta */
.correta {
  color: #2563eb; /* azul */
}

/* letra errada */
.errada {
  color: #2563eb; /* azul */
  border-bottom: 2px solid #2563eb;
}

/* cursor */
.ativa {
  border-bottom: 2px solid #2563eb;
}

/* linhas abaixo do texto */
#texto {
  border-bottom: 1px solid #d1d5db; /* cinza claro */
  padding-bottom: 10px;
}
